body {
	background-color: #f5d9d5;

	font-family: 'Nunito', sans-serif;
}

#mainNav .navbar-brand {
	color: #ea1c2c;
}

#mainNav {
	font-size: 1.5rem;
	font-weight: 80;
}

#mainNav .nav-link {
	color: white;
}

#mainNav .nav-link:hover {
	color: red;
}
